<div>
  <br>
  <h2 class ="text-center"> Créer votre compte</h2>
  <form #userForm="ngForm" (ngSubmit)="signUp(userForm)" >
    <div class="form-group">
      <label for="nameInput">Nom</label>
      <input ngModel name = "name" type="text" #name="ngModel" class="form-control" id="nameInput" required>
      <div class ="alert alert-danger" *ngIf="name.invalid && name.touched">Name is required</div>
    </div>
    <div class="form-group">
      <label for="emailInput">Adresse email</label>
      <input type="email" class="form-control" #email="ngModel" id="emailInput" ngModel name="email" required email>
      <div class ="alert alert-danger" *ngIf="email.touched && email.errors?.['required']">email is required</div>
      <div class ="alert alert-danger" *ngIf="email.touched && email.errors?.['email']">format incorrecte</div>
    </div>
    <div class="form-group">
      <label for="passwordInput">password</label>
      <input type="password" class="form-control" #password="ngModel" id="passwordInput"  ngModel name="password" required minlength="6">
      <div class ="alert alert-danger" *ngIf="password.touched && password.errors?.['required']">password is required</div>
      <div class ="alert alert-danger" *ngIf="password.touched && password.errors?.['minlength']">format incorrecte +6 characteres</div>
    </div>
    <div class="form-group">
      <label for="passwordInput">Confirmer password</label>
      <input type="password" class="form-control" #confirmPassword="ngModel" ngModel name="confirmPassword" required>
      <div class ="alert alert-danger" *ngIf="confirmPassword.invalid && confirmPassword.touched">Confirmez votre mot de passe </div>
      <div class="alert alert-danger" *ngIf="confirmPassword.value != password.value &&confirmPassword.touched">mot de passe erroné</div>
    </div>
    <div class="form-group">
      <label for="phoneInput">Téléphone</label>
      <input type="text" class="form-control" id="phoneInput"ngModel name="telephone" required>
    </div>
    <div class="form-group">
      <label for="addressInput">Adresse</label>
      <input type="text" class="form-control" #address="ngModel" id="addressInput"ngModel name="adresse" required>
      <div class ="alert alert-danger" *ngIf="address.invalid && address.touched">Address is required</div>
    </div>
    <br>
    <div style="text-align:center;">
      <button class="btn btn-primary" [disabled]="userForm.invalid || confirmPassword.value != password.value" >Valider</button>
    </div>
  </form>
  <br>
  <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
</div>



